body{
    padding-top: 70px;
}
.jumbotron{
    color: #2c3e50;
    background:#ecf0f1;
}
.navbar-light{
    background:#2c3e50;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand{
    color:white;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color:#ecf0f1;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#ecf0f1;
}
